doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(defer=true, type="text/javascript", src="/javascripts/main.js")
  body
    block content
